<div class="floating-menu">
  <h2>Choice Menu</h2>
  <div class="row">
    <div class="span1">
      <% question.goods.each do |good| %>
        <%= check_box_tag good.name, good.number, false, class: 'bundle' %>
        <%= good.name %><br />
      <% end %>
    </div>
    <div class="offset1 span1">
      <h2>Or</h2>
    </div>
    <div class="span2">
      <%= check_box_tag 'Combo', 'combo' %>
      Combo Package
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.bundle').click( function() {
      var checked = $(this).prop('checked');
      var good_id = this.id;
      createQuestionAnswer(good_id, checked);
      if (checked) {
        turnOtherCheckboxesOff($('#Combo'));
      }
    });

    $('#Combo').click( function() {
      var checked = $(this).prop('checked');
      var combo_id = this.id;
      createQuestionAnswer(combo_id, checked);
      if (checked) {
        turnOtherCheckboxesOff($('.bundle'));
      }
    });
  });

  turnOtherCheckboxesOff = function(selector) {
    selector.prop('checked', false);
  }

  createQuestionAnswer = function(answer_id, checked) {
    $.ajax({
      type: 'POST',
      url: '<%= answer_question_url question %>',
      data: { answer_id: answer_id,  checked: checked }
    });
  }

// if the user has started this question, get the final answer, and check the appropriate boxes
<% if question.started? current_user %>
  var answers = "<%= @current_answer %>".split(', ');
  $.each(answers, function(index, value) {
      $('#' + value).prop('checked', true);
  });

<% end %>


</script>
