<div class="modal hide fade in out" id="instructionsModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= question.name %> Instructions</h3>
  </div>
  <div class="modal-body">
		<%= question.content.html_safe unless question.content.nil? %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>


<script>
  <% if !question.started? current_user %>
    $('#instructionsModal').modal('show');

    $(function() {
      $('#instructionsModal').on('hidden', function() {
          $.ajax({
              type: 'POST',
              url: '<%= start_question_url question %>',
              success: function(response) {

                  if (!response.random) {
                      timer(Math.floor(response.millis_left / 1000));
                  }

                  setTimeout(handleTimeout, response.millis_left);
              }
          });
      });
    });

  <% else %>

    $(function() {
      $.ajax({
          type: 'POST',
          url: '<%= start_question_url question %>',
          success: function(response) {

              if (!response.random) {
                  timer(Math.floor(response.millis_left / 1000));
              }

              setTimeout(handleTimeout, response.millis_left);
          }
      });
    });

  <% end %>

  var handleTimeout
  handleTimeout = function() {

      $.ajax({
          type: 'POST',
          url: '<%= end_question_url question %>',
          data: { misc: "Forcibly ending question"},
          success: function(response) {
              location.reload();
          }
      });

  }

  var timer;
  timer = function(secondsRemaining) {
    if (secondsRemaining >= 0) {
        var minutes = Math.floor(secondsRemaining / 60);
        var seconds = secondsRemaining % 60;

        // update text
        $('#timer').text(doubleDigits(minutes) + ":" + doubleDigits(seconds));

        if (secondsRemaining > 0) {
            secondsRemaining--;
            setTimeout(function() {
                timer(secondsRemaining)
            }, 1000);
        }
    }
  };

  var doubleDigits;
  doubleDigits = function (number) {
      if (Math.abs(number) < 10) {
          return '0' + number;
      }
      return number;
  };
</script>



