<div>
  <%= render :partial => 'prequestion', :locals => { :question => question } %>
</div>
<div class="row">
	<div class="span7">
		<div id="menu">
		  There are <%= pluralize question.goods.size, 'good' %> for sale. Their prices are as follows:

			<ul>
		    <%= render :partial => 'good', :collection => question.menu_items.shuffle %>
		  </ul>
		</div>

		<div>
		  You value the bundles in the following ways:
		  <ul>
		    <% question.bundles.shuffle.each do |goods| %>
		      <li>
		        <div class="show-statement">[Click to show statement]</div>
		        <div class="explanation">
		            <%= simple_format goods.shuffled_goods_statement %>
		        </div>
		      </li>
		    <% end  %>
		  </ul>
		</div>
	</div>
	
	<div class="span5">
		<%= render :partial => 'choices', :locals => { :goods => question.goods }%>
	</div>
</div>

<script>
  $(function() {
      $('.show-statement').click(function() {
          var content = "showing: " + $.trim($(this).next().text());
          console.log(content);
          createQuestionExplanation(content);
      });

      $('.explanation').click(function() {
          var content = "hiding: " + $.trim($(this).text());
          console.log(content);
          createQuestionExplanation(content);
      });
  });

  createQuestionExplanation = function(content) {
      $.ajax({
          type: 'POST',
          url: '<%= create_question_explanation_question_url %>',
          data: { content: content }
        });
  }
</script>

