<div>
  <%= question.content %>
</div>

<div id="menu">
  There are <%= pluralize question.goods.size, 'good' %> for sale. Their prices are as follows:
  <ul>
    <%= render :partial => 'good', :collection => question.goods.shuffle %>
    <li>An all inclusive bundle of <%= question.combo.shuffled_goods_names %> for <%= number_to_currency question.combo.price %></li>
  </ul>
</div>

<div>
  You value the bundles in the following ways:
  <ul>
    <% question.bundles_and_combo.shuffle.each do |goods| %>
      <li>
        <div class="show-statement">[Click to show statement]</div>
        <div class="explanation">
            <%= goods.shuffled_goods_statement %>
        </div>
      </li>
    <% end  %>
  </ul>
</div>

<div id="timer">
  5:00
</div>

<%=  javascript_tag 'timer(100)' %>

