<h1>Editing <%= @question.name %></h1>

<div class="page-header">
  <%= render 'form' %>
</div>


<div class="page-header" id="goods">
  <h2>Goods</h2>
  <%= render :partial => 'admin/goods', :object => @question.goods %>
  <%= link_to 'New Good', new_question_good_path(@question), :class => 'btn btn-primary' %>
</div>

<div class="page-header" id="bundles">
  <h2>Bundles</h2>
  <%= render :partial => 'admin/bundles', :object => @question.bundles %>
  <%= link_to 'New Bundle', new_question_bundle_path(@question), :class => 'btn btn-primary' %>
</div>

<div class="page-header" id="combo">
  <h2>Combo</h2>
  <table class="table table-striped">
    <thead class>
    <tr>
      <th>Name</th>
      <th>Goods</th>
      <th>\(\lambda\)</th>
      <th>Value</th>
      <th>Utility</th>
      <th></th>

    </tr>
    </thead>

    <tbody>
    <tr>
      <td>All Goods</td>
      <td><%= @question.combo.goods_names %></td>
      <td><%= @question.combo.lambda %></td>
      <td><%= @question.combo.value %></td>
      <td><%= @question.combo.utility %></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
<div style="padding-top:40px">
  <%= link_to 'Back', questions_path %>
</div>
