<h1><%= @question.name %></h1>
<p><%= render @question %></p>
<h3><%= @question.goods.count > 1 ? 'Goods' : 'Good' %></h3>
<ol>
<%= render @question.goods %>
<li> Choose your own bundle </li>
</ol>

<div class="row" style="padding-top: 40px;">
  <div class="span1">
  <%= link_to '<<Back', @question.previous_path %>
  </div>
  <%= link_to 'Next>>', @question.next_path, :class => "offset1" %>
</div>
