<tr>
  <td><%= question.content %></td>
  <td><%= question.goods.count %></td>
  <td>
    <%= link_to 'Show', question_path(question), :class => 'btn btn-mini btn-info' %>
    <%= link_to 'Edit', edit_question_path(question), :class => 'btn btn-mini btn-success' %>
    <%= link_to 'Destroy', question_path(question), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-mini btn-danger'%>
    </td>
</tr>