<% cache ["v1.2", user] do %>
<div class="user-summary">
  <%= user.name %> had 
  <strong><%= user.question_stats.size %></strong> total clicks and 
  <strong><%= user.optimal_answers.size %></strong> optimal answers out of
  <strong><%= user.real_questions.size %></strong> total.
  <ul class="misc-details"> 
    <% %w(age year major gender).each do |attr| %>
    <li><%= attr %>: <%= user.send(attr).blank? ? "N/A" : user.send(attr) %></li>
    <% end %>
  </ul>

  <div>
    <ul>
      <li>
        Times finally answered combo: <%= user.finally_chose_combo_count %> out of <%= user.real_questions.count %>
      </li>
      <li>
        Times initially chose combo: <%= user.initially_chose_combo_count %> out of <%= user.real_questions.count %>
      </li>
      <li>
        Average proportion of statements clicked: <%= user.proportion_statements_clicked %> (<%= user.total_distinct_statements_clicked_count %> out of <%= user.total_statements_count %>)
      </li>
      <li>Average time spent per question: <%= user.overall_time || "N/A" %> seconds</li>
      <li>Average deviation from optimum: <%= user.average_deviation_from_optimum || "N/A" %></li>
      <li>Average deviation from optimum given non-optimal answer: <%= user.average_deviation_from_optimum_for_wrong_answers || "N/A" %></li>
      <li>Average time between clicks: <%= user.average_time_between_clicks || "N/A" %> seconds</li>
      <li>Average time between statement clicks: <%= user.average_time_between_statement_clicks || "N/A" %></li>
      <li>Average time between selection clicks: <%= user.average_time_between_selection_clicks || "N/A" %></li>
      <li>Average answer value: <%= user.average_answer_value || "N/A" %></li>
    </ul>
  </div>
</div>
<% end %>