<% cache ["v1", user] do %>
<div class="user-summary">
  <%= link_to "User #{user.id}, lab #{user.lab_number}" , [:statistics, user] %> had 
  <strong><%= user.question_stats.size %></strong> total clicks and 
  <strong><%= user.optimal_answers.size %></strong> optimal answers out of
  <strong><%= user.questions.size %></strong> total.
  <ul class="misc-details"> 
    <% %w(age year major gender).each do |attr| %>
    <li><%= attr %>: <%= user.send(attr).blank? ? "N/A" : user.send(attr) %></li>
    <% end %>
  </ul>

  <div>
    <ul>
      <li>
        Times finally answered combo: <%= user.finally_chose_combo_count %> out of <%= user.real_questions.count %>
      </li>
      <li>
        Times initially chose combo: <%= user.initially_chose_combo_count %> out of <%= user.real_questions.count %>
      </li>
      <li>Average time spent per question: <%= user.overall_time || "N/A" %> seconds</li>
      <li>Average time between clicks: <%= user.average_time_between_clicks || "N/A" %> seconds</li>
      <li>Average time between statement clicks: <%= user.average_time_between_statement_clicks || "N/A" %></li>
      <li>Average time between selection clicks: <%= user.average_time_between_selection_clicks || "N/A" %></li>
      
    </ul>
  </div>
</div>
<% end %>