<h1>Instructions</h1>

<br />
<STYLE type="text/css">
  DIV.mypars {text-align: left}
 </STYLE>
<BODY>

<div class="container">
 <DIV class="mypars">
  <P>You are participating in an experiment that involves making choices from a "menu" of options. 
  <P>You are free to click in the box for a given option at any point in time. Clicking once will select the good, and clicking on it again will deselect the option. 
  <P>Here is an example of a good that has been selected with the button checked:
  <P><%= image_tag("checked.png")%>
  <P>Here is an example of a good that has either been de-selected or not chosen at all with the button blank:
  <P> <%= image_tag("unchecked.png")%>
  <P>
  	In the menus you will be offered, single items will be located on the left hand side, and a 
  	"Combo Package" will be offered on the right hand side as shown below.
  <P><%= image_tag("choicemenu.png")%>
  <P>
  	If you decide to purchase the "all-inclusive" Combo Package 
  	containing all the goods on the right hand side, it would look as follows:
  <P>
    <%= image_tag("combochoice.png")%>
  <P>
	You can select individual goods from the 
  	single component menu on the left to create a "bundle" of your choice. A bundle will be defined as any number of goods, 
  	greater than one, taken from the single component menu and purchased together. Here is an example 
  	of choosing a bundle containing goods 2 and 3.
  <P>
  	<%= image_tag("choice2_4.png")%>
  <P>As shown above, you may only purchase one item of each good, but purchase multiple goods 
  together in a bundle.
  
  
  
  <P>Once you have made your final choice, you may press the "Next" button to move onto the next experiment. 
 
</DIV>

<%=  link_to "Next", instructions1_path, :class => "btn btn-primary" %>
