<%= render 'instructions' %>

<h1>Type <%= @question.number %></h1>

<div class="row">
  <div class="span6">
    <table class="table table-bordered">
      <thead><tr><th>Goods and Values</th></tr></thead>
      <% @question.goods.each do |number, value| %>
        <tr><td>Good <%= number %> has a value of <%= value %></td></tr>
      <% end %>
      <tr>
        <td>
          An all inclusive Combo Package of all the goods has a value of <%= @question.combo_noeffect %>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="span8">
    <table class="table table-bordered">
      <thead><tr><th>You value the bundles in the following ways:</th></tr></thead>
      <% @question.effects.each do |bundle, value| %>
        <tr>
          <td class="show-statement">
            [Click to show statement] 
            <%= bundle %>
          </td>
          <td class="explanation">
            <%= question_explanation(bundle, value, @question.display_formula) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

  
<div class="choices span4">
  <div>
    </div>
  <h2>Your choice</h2> 
  <span id="timer_block" data-visible="<%= @question.display_timer %>">
    (<span id="timer" data-seconds="<%= @question.time_remaining %>"></span>)
  </span>
  <%= form_tag experiment_path, { method: :put } do %>
    <div class="row">
      <div class="span2">
        <label><b>Choice Menu</b></label>
        <% @question.goods.each do |number, value| %>
          <%= check_box_tag 'good_numbers[]', number %> <%= "Good #{number}" %> <br />
        <% end %>
      </div>

      <div class="span2">
        <label><b>Choose combo</b></label>
        <%= check_box_tag 'combo' %> <%= "Combo Package" %> 
      </div>
      
      <%= hidden_field_tag 'expired', @question.expired? %>

      <%= button_tag 'choose', class: "btn btn-primary offset2" %>
    </div>
  <% end %>
</div>

<%= render 'demo_form' %>

<% unless Rails.env.production? %>
<h1>Solutions</h1>
<ul>
  <% combinations = 1.upto(@question.goods.size)
                    .flat_map { |n| @question.goods.keys.map(&:to_i).combination(n).to_a } %>
  <% combinations.each do |combo| %>
  <li>Goods <%= combo %>, Total Value: <%= @question.bundle combo %></li>
  <% end %>
  <li>Combo, Total Value: <%= @question.combo_witheffect %>
</ul>
The best answer: <%= @question.optimal_value %>
<% end %>