<h1>Question <%= @question.number %></h1>
<ul>Menu
  <% @question.goods.each do |number, value| %>
    <li>Good <%= number %> has a value of <%= value %></li>
  <% end %>
  <li>An all inclusive bundle of all the goods has a value of <%= @question.combo_noeffect %></li>
</ul>

<ul>Effects
  <% @question.effects.each do |bundle, value| %>
    <li>
      Purchasing <%= bundle.size == 1 ? 'good' : 'goods' %> <%= bundle %> in an exclusive bundle
      makes you value the bundle <%= value %> more than if you summed the individual goods.
    </li>
  <% end %>
</ul>

<h2>Choose a set of individual goods or the all inclusive bundle </h2>
<%= form_tag experiment_path, { method: :put } do %>
  <div>
    <label>Goods</label><br />
    <% @question.goods.each do |number, value| %>
      <%= "Good #{number}" %> <%= check_box_tag 'good_numbers[]', number %> <br />
    <% end %>
  </div>

  <div>
    <label>All Inclusive Bundle</label><br />
    <%= "Combo" %> <%= check_box_tag 'combo' %>
  </div>
  
  <%= button_tag 'next question' %>
<% end %>

<h1>Solutions</h1>
<ul>
  <% combinations = 1.upto(@question.goods.size)
                    .flat_map { |n| @question.goods.keys.map(&:to_i).combination(n).to_a } %>
  <% combinations.each do |combo| %>
  <li>Goods <%= combo %>, Total Value: <%= @question.bundle combo %></li>
  <% end %>
  <li>Combo, Total Value: <%= @question.combo_witheffect %>
</ul>