<% content_for :header do %>
  <h1>Type <%= @question.number %> Experiment</h1> 
<% end %>

<% content_for :content do %>
  <div class="goods-information">
    <table class="table">
      <thead><th class="heading">Goods and values:</th></thead>
      <% @question.goods.each do |number, value| %>
        <tr><td>Good <%= number %> has a value of <%= value %></td></tr>
      <% end %>
      <tr><td>An all inclusive combo package of all the goods has a value of 
        <%= @question.combo_noeffect %>
      </td></tr>
    </table>
  
    <table class="table">
      <thead><th class="heading">You value the bundles in the following ways:</th></thead>
      <% @question.effects.each do |bundle, value| %>
        <tr>
          <td class="show-statement"  data-bundle="<%=bundle%>">
            [Click to show statement] 
            <%= bundle %>
          </td>
          <td class="explanation" data-bundle="<%=bundle%>">
            <%= question_explanation(bundle, value, @question.display_formula) %>
          </td>
        </tr>
      <% end %>
    </table>
    
    <%= render 'demo_form' %>
    <%= render 'solutions' %>
    
  </div> 
  
  <div class="goods-choice">
    <%= form_tag experiment_path, method: :put, class: "well" do %>
      <h2>Your Choice
        <span id="timer_block" data-visible="<%= @question.display_timer %>">
          (<%= timer seconds: @question.time_remaining %>)
        </span>
      </h2>
      
      <div class="menu-or-combo">
        <div class="pull-left">
          <label><strong>Choice Menu</strong></label>
          <% @question.goods.each do |number, value| %>
          <div>
            <%= check_box_tag 'good_numbers[]', number, false, data: { number: number } %>
            <%= "Good #{number}" %>
          </div>
          <% end %>
        </div>
        
        <div class="pull-right">
          <label><strong>Choose combo</strong></label>
          <%= check_box_tag 'combo' %> <%= "Combo Package" %> 
        </div>
        
        <%= hidden_field_tag 'expired', @question.expired? %>
        <div class="clearfix"></div>
        <%= button_tag 'choose', class: "btn btn-info pull-right" %>
      </div>
    <% end %>
  </div>



  <%= content_tag :div, nil, data: { question_id: @question.id }, id: 'question_id' %>
  <script>
    $(function() {
      BundledGoods.experiment.init({started: <%= @question.started? %>}); 
    })
  </script>
<% end %>