<h1>Listing Surveys</h1>
<h3>With \( \LaTeX \) styling</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Survey Name</th>
    <th></th>
  </tr>
  </thead>
  
  <tbody>
<% i = 1 %>
<% @surveys.each do |survey| %>
  <tr>
    <td><%= i %></td>
    <td><%= survey.name %></td>
    <td>
      <%= link_to 'Show', survey_path(survey), :class => 'btn btn-mini btn-info'%>
      <%= link_to 'Edit', edit_survey_path(survey), :class => 'btn btn-mini btn-success' %>
      <%= link_to 'Destroy', survey, :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-mini btn-danger'%>
    </td>
  </tr>
  <% i = i+1 %>
<% end %>
  </tbody>
</table>
<%= link_to 'New Survey', new_survey_path, :class => 'btn btn-primary' %> <br /><br />

